---
import "../styles/global.css"
import SkillsCard from "../components/SkillsCard.astro";
import Nav from "../components/Nav.astro";
import { Skills, NavItems} from "../contents/db";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>RicDev 💻</title>
	</head>
	<body>
		<Nav items={NavItems} />
		<h1 class="text-8xl font-black">Astro</h1>
		<div class="text-4xl font-extrabold text-white flex flex-auto justify-center p-5">Skills</div>
		<div class="flex flex-row gap-5 justify-center ">
			{Skills.map((skillSet) => (
				<SkillsCard {...skillSet} />
			))}
		</div>
		
	</body>
</html>
