---
import "../styles/global.css";
import TerminalCard from "../components/TerminalCard.astro";
import { SocialList, terminalList } from "../contents/db";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout>
  <div slot="after-header">
    <div class="place-items-center">
      <div class="flex mx-10 mt-10 overflow-hidden w-full max-w-6xl">
        <Image
          src="/images/banner.svg"
          alt="Hello Image"
          width={1920}
          height={1080}
          class="mt-10 mb-10 w-64 flex-auto"
        />
      </div>
      <div class="mb-10">
        <span class="text-white font-light text-xl wrap-break-word">
          I am a systems engineer and web developer, specializing in the backend
          development of robust and scalable applications.
        </span>
      </div>
      <div class="mt-5">
        {terminalList.map((entry) => <TerminalCard {...entry} />)}
      </div>
    </div>
  </div>
</Layout>
