---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import { projectsList } from "../content/db";
import ProjectCard from "../components/ProjectCard.astro";
---

<Layout>
  <div slot="after-header">
    <div class="place-items-center">
      <div class="flex mx-10 mt-10 overflow-hidden w-full max-w-6xl">
        <Image
          src="/images/const-projects.svg"
          alt="Hello Image"
          width={1920}
          height={1080}
          class="mt-10 mb-10 w-64 flex-auto"
        />
      </div>
      <div class="flex mb-10 w-6xl place-items-center">
        <span class="text-white font-light text-xl flex place-items-center">
          Here you will find some of the projects I have collaborated on.
        </span>
      </div>
      <div class="flex w-6xl gap-5">
        {projectsList.map((entry) => <ProjectCard {...entry} />)}
      </div>
    </div>
  </div>
</Layout>
