---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import { skills } from "../contents/db";
import SkillsCard from "../components/SkillsCard.astro";
---

<Layout>
  <div slot="after-header">
    <div class="place-items-center">
      <div class="flex mx-10 mt-10 overflow-hidden w-full max-w-6xl">
        <Image
          src="/images/skills.svg"
          alt="Hello Image"
          width={1920}
          height={1080}
          class="mt-10 mb-10 w-64 flex-auto"
        />
      </div>
      <div class="ml-10 mb-10 w-6xl place-items-center">
        <span class="text-white font-light text-xl">
          These are some of the technologies I have worked with throughout my
          career and am familiar with.
        </span>
        <div class="flex">
          {skills.map((entry) => <SkillsCard {...entry} />)}
        </div>
      </div>
    </div>
  </div>
</Layout>
