---
import type { HorizontalCardProps } from "../interfaces/interface";

const { tittle, description } = Astro.props as HorizontalCardProps;
---

<div
  class="bg-zinc-900 text-white rounded-xl shadow-lg p-6 my-6 break-after-column"
>
  <slot />
</div>
