---
import type {SkillSetProps} from '../interfaces/interface';

const {tittle, skills} = Astro.props as SkillSetProps;
---


<section class="bg-white rounded-2xl p-6 w-full max-w-md mx-5 my-5"> 
<h2 class="text-3xl font-bold mb-4 text-gray-800 text-center row-1">{tittle}</h2>
{skills.map(({name, level})=>(
    <div class="mb-4">
        <div class="flex justify-between mb-1">
            <span class="text-md font-medium text-gray-700">{name}</span>
        </div>
        
        <div class="w-full bg-gray-200 rounded-full h-3">
            
            <div
            class=" bg-green-500 h-3 rounded-full transition-all duration-300 ease-linear" 
            style={`width: ${level}%`}
            ></div>
            
        </div>
    </div>
))}
</section>