---
import "../styles/global.css";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import TerminalCard from "../components/TerminalCard.astro";
import {
  NavItems,
  skills,
  SocialList,
  terminalList,
  HorizontalCardList,
} from "../content/db";
import SkillsCard from "../components/SkillsCard.astro";
import { Image } from "astro:assets";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>ricnull</title>
  </head>
  <body>
    <div>
      <Nav items={NavItems} />
      <slot name="after-header" />

      <slot name="before-footer" />
      <div class="flex gap-5 justify-center mt-20">
        {SocialList.map((items) => <Footer {...items} />)}
      </div>
    </div>
  </body>
</html>
